# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=laptop_ecommerce_db
DB_PORT=3306

# Server Configuration
PORT=5000

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Node Environment
NODE_ENV=development
# Cấu hình Cloudinary
CLOUDINARY_CLOUD_NAME=dkrisyrlh
CLOUDINARY_API_KEY=963277588483967
CLOUDINARY_API_SECRET=5hdQDdyg7EH8d_fOt-3HpRVIndI